*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:url("img/bem-vindo-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
nav{
  width: 100vh;
  width: 100vw;
  padding: 20px
}
.titulo{
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px
}
span{
  color:#fff;
  font-size: 15px;
  
}

input{
  margin-top: 50px;
  outline: none;
  border-top: none;
  background: none;
  color:#fff;
  border-right: none;
  border-left: none;
  border-color: palevioletred;
  width: 100%;
  font-size: 20px;
}
.question{
  margin-top: 20px;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: center;
  height:300px;
}
.button-enter{
  width: 100%;
  height: 50px;
  background-color: lightpink;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  
  
  transition: 0.80s;
  
}
.button-enter:hover{
  transform: scale(0.90);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  
  
  
}